.square {
  height: 60px;
  width: 60px;

  display: flex;
  justify-content: center;
}

.image{
  margin-top: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



