<app-header></app-header>
<div class="site-container">

  <div *ngIf="gameStatus === 'idle'">
    <app-lobby-screen></app-lobby-screen>
    <div class="game-button" (click)="findGame()">Play Chess!</div>
  </div>

  <div *ngIf="gameStatus === 'waiting'">
    <app-lobby-screen></app-lobby-screen>
    WAITING
  </div>

  <div class="chess-container" *ngIf="gameStatus === 'gameStart'">
    <div class="status-bar">
      {{gameResult}}
      <div *ngIf="gameResult">
        <div class="game-button" (click)="findGame()">Play Again!</div>
      </div>
    </div>
    <app-chess-board [clientColor]="colorAssigned" [id]="idAssigned" (gameEnded)="displayResults($event)"></app-chess-board>
    <div class="whitespace-right"></div>
  </div>

</div>


